$low: #4caf50;
$med: #ff9800;
$imp: #f44336;

.LOW__border {
    border: 3px solid $low;
}

.MED__border {
    border: 3px solid $med;
}

.IMP__border {
    border: 3px solid $imp;
}

.LOW__background {
    background: $low;
}

.MED__background {
    background: $med;
}

.IMP__background {
    background: $imp;
}
