.hide {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.error {
    border: 2px solid red;
}

.center-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
