.hide {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    overflow-x: hidden;
}

.center-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__field {
        width: 200px;
    }
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-text {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: none;
    font-weight: inherit;
    width: 100%;
    height: 100%;
}

.LOW {
    border: 3px solid black;
}

.MED {
    border: 3px solid orange;
}

.IMP {
    border: 3px solid red;
}

.NONE {
    background-color: white;
}

.WORK {
    background-color: rgba(236, 154, 87, 0.438);
}

.FAML {
    background-color: rgb(247, 134, 232);
}

.HOME {
    background-color: rgb(146, 245, 223);
}

.EDUC {
    background-color: rgb(110, 250, 145);
}
