.hide {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.center-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__field {
        width: 200px;
    }
}
