.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.groups-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__header {
        padding: 6px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 140px;
}
