.description-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popper {
    width: 300px;
    background-color: white;
    word-break: break-word;
    border: 2px solid black;
    padding: 2px;
}
