.todoItemStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.done {
    text-decoration: line-through;
}

.time-up {
    color: red;
}
