$icon-size: 24px;

.header {
    display: flex;
    &__title {
        width: 286px;
    }

    &__icon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        width: $icon-size;
        height: $icon-size;
    }
}

.groupItem {
    display: flex;
    width: 310px;
    flex-direction: column;
    padding: 15px;
}

.new-task-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
