.groupItem {
    display: flex;
    width: 310px;
    flex-direction: column;
    padding: 15px;
}

.input-style {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: none;
    font-weight: inherit;
    width: 100%;
    height: 100%;
}

.new-task-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
