.todoItemStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 3px #6e6d6d;
}

.done {
    text-decoration: line-through;
}
